.accueil {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: grey;
    border: solid grey;
    border-radius: 10px;
    margin: 10px;

}

.photo1 {
    margin-top: 10px;
    width: 92%;
    border: solid;
    border-radius: 10px;
}

.accueil1 {
    background-color: black;
    border: solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    // opacity: 0.8;
}

.presentation {
 color: white;   
}

.objectif {
    color: white
}

@media screen and (min-width: 768px) {

    .photo1 {
        max-width: 60em;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    // .accueil {
    //     display: flex;
    //     flex-direction: row;
        

    // }

    .accueil1 {
        margin-right: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }

    .presentation {
       
        font-size: 4em;
        margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
        
    }

    .objectif {
        font-size: 3em;
        margin-left: 10px;
    margin-right: 10px;
    }

    .cv {
        font-size: 2em;
        border: solid green 2em;
        border-radius: 30px;
        margin-bottom: 15px;
    }

    .accueil2 {
        display: flex;
        flex-direction: column;
    }

    .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}