.competences {
    background-color: grey;
    border: solid grey;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.logo-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.titre-comp {
    color: white;
    margin: 10px;
    text-decoration: underline;
    font-size: 45px;
}

.logo1-comp {
    background-color: black;
    border: solid black;
    border-radius: 10px;
    margin: 10px 
}

.logo {
    font-size: 7em;
    border-radius: 40px;
background: #e0e0e0;
box-shadow:  22px 22px 57px #b1b1b1,
             -22px -22px 57px black;
             border: solid black 5px;
             margin: 15px;
}

@media screen and (min-width: 768px) {

    .titre-comp {
        font-size: 4em;
    }

    .flex1 {
        display: flex;
        flex-direction: row;
        gap: 10em;
    }
    .flex2 {
        display: flex;
        flex-direction: row;
        gap: 10em;
    }
    .flex3 {
        display: flex;
        flex-direction: row;
        gap: 10em;
    }

    .logo {
        font-size: 15em;
    }
}