footer {
    background-color: black;
    margin-top: 15px;
}

.FaLinkedin,
.AiFillGithub {
    width: 40px;
}

.icons {
    display: flex;
    justify-content: right;
    gap: 2rem;
    align-items: center;
    padding: 10px;
  }

  .linkedin1 {

    color: white;
    font-size: 35px;
  }

  .github1 {
    color: white;
    font-size: 35px;
  }