footer {
    background-color: #2f3640;
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
}

.FaLinkedin,
.AiFillGithub {
    width: 40px;
}

.icons {
    display: flex;
    justify-content: right;
    gap: 2rem;
    align-items: center;
    padding: 10px;
    
  }

  .linkedin1 {

    color: white;
    font-size: 35px;
  }

  .github1 {
    color: white;
    font-size: 35px;
  }

  @media screen and (min-width: 768px) {

    .linkedin1 {
      font-size: 50px;
    }

    .github1 {
      font-size: 50px;
    }
  }